<main class="d-flex flex-nowrap">
  <div class="mainContent">
    <div class="CatergoryName">
      <h1>Book Management</h1>
      <% if (messages.fail) { %>
        <div id="rejectedMessage" class="alert alert-danger" role="alert">
          <%- messages.fail %>
        </div>
        <% } %> <% if (messages.success) { %>
        <div id="acceptedMessage" class="alert alert-success" role="alert">
          <%- messages.success %>
        </div>
    <% } %>
    </div>
    <div class="search-form">
      <form
        action="/admin/books-management/search"
        method="post"
        class="d-flex"
      >
        <input type="text" name="search" placeholder="Search for book name" />
        <button type="submit">Search</button>
      </form>
      <div class="btns">
        <input
          type="button"
          value="Add book"
          onclick="openPopup('addBookPopup')"
        />
        <div class="popup-container" id="addBookPopup">
          <div class="popup">
            <div>
              <h1 class="add-new-book">Add New Book</h1>
            </div>
            <form
              action="/admin/books-management/add-new-book"
              method="post"
              class="d-flex w-100"
              enctype="multipart/form-data"
            >
              <div class="image-container">
                <div class="imageCoverContainer d-flex flex-column">
                  <label for="addBookImageCover" id="select-image"
                    >Add image Cover</label
                  >
                  <input
                    type="file"
                    id="addBookImageCover"
                    name="imageCover"
                    onchange="previewImage('addBookImageCover', 'add-image-cover-preview')"
                    required
                  />
                  <div id="add-image-cover-preview" class="py-1"></div>
                </div>
                <div class="contentImageContainer d-flex flex-column">
                  <label
                    for="addContentImage"
                    class="image-label"
                    id="select-image"
                    >Add Content Image</label
                  >
                  <input
                    type="file"
                    id="addContentImage"
                    name="contentImage"
                    onchange="previewImage('addContentImage', 'add-image-content-preview')"
                    multiple
                  />
                  <div id="add-image-content-preview" class="py-1"></div>
                </div>
              </div>
              <div class="right-container">
                <label for="title">Book Title:</label>
                <input type="text" id="title" name="title" required />

                <!-- Authors -->
                <div class="addAuthors position-relative">
                  <div class="searchField">
                    <label class="position-relative w-100" for="searchAuthor"
                      >Authors:</label
                    >
                    <input
                      type="text"
                      id="searchAuthor"
                      placeholder="Search for existing author"
                      oninput="searchItems('searchAuthor', 'authorsList','dropDownSelectAuthorContainer')"
                      onclick="toggleDropDown('dropDownSelectAuthorContainer')"
                    />
                    <div
                      class="dropDownSelectAuthorContainer position-absolute bg-light w-100"
                      style="display: none; z-index: 500"
                      id="dropDownSelectAuthorContainer"
                    >
                      <div class="authorList w-100" id="authorsList">
                        <% authors.forEach(author => { %>
                        <div
                          class="inputField w-100 d-flex"
                          style="cursor: pointer"
                        >
                          <input
                            type="checkbox"
                            id="<%= author.name %>"
                            value="<%= author.name %>"
                            onchange="updateSelectedItems(this, selectedAuthors, 'authors', 'dropDownSelectAuthorContainer')"
                            hidden
                          />
                          <label
                            for="<%= author.name %>"
                            class="w-100 p-2"
                            style="cursor: pointer"
                            ><%= author.name %></label
                          >
                        </div>
                        <% }) %>
                      </div>
                      <div
                        class="inputField w-100 d-flex p-2"
                        style="cursor: pointer"
                      >
                        <a href="/admin/authors"> + Add more author</a>
                      </div>
                    </div>
                  </div>
                  <div class="valueField">
                    <label for="authors"></label>
                    <!-- Change input to textarea -->
                    <textarea
                      name="authors"
                      placeholder="Display selected author(s)"
                      id="authors"
                      rows="3"
                      required
                    ></textarea>
                  </div>
                </div>

                <!-- Categories -->
                <div class="addCategory position-relative">
                  <div class="searchField">
                    <label class="position-relative w-100" for="searchCategory"
                      >Category:</label
                    >
                    <input
                      type="text"
                      id="searchCategory"
                      placeholder="Search for existing category"
                      oninput="searchItems('searchCategory', 'categoryList', 'dropDownSelectCategoryContainer')"
                      onclick="toggleDropDown('dropDownSelectCategoryContainer')"
                    />
                    <div
                      class="dropDownSelectCategoryContainer position-absolute bg-light w-100"
                      style="display: none; z-index: 500"
                      id="dropDownSelectCategoryContainer"
                    >
                      <div class="categoryList w-100" id="categoryList">
                        <% categories.forEach(category => { %>
                        <!-- Display Category -->
                        <div
                          class="inputField w-100 d-flex"
                          style="cursor: pointer"
                        >
                          <input
                            type="checkbox"
                            id="<%= category.category %>"
                            value="<%= category.category %>"
                            onchange="updateSelectedItems(this, selectedCategories, 'category', 'dropDownSelectCategoryContainer')"
                            hidden
                          />
                          <label
                            for="<%= category.category %>"
                            class="w-100 p-2"
                            style="cursor: pointer"
                          >
                            <strong> <%= category.category %> </strong>
                          </label>
                        </div>

                        <!-- Display Subcategories -->
                        <% if (category.subCategory &&
                        category.subCategory.length > 0) { %> <%
                        category.subCategory.forEach(subcat => { %>
                        <div
                          class="inputField w-100 d-flex"
                          style="cursor: pointer"
                        >
                          <input
                            type="checkbox"
                            id="<%= subcat %>"
                            value="<%= subcat %>"
                            onchange="updateSelectedItems(this, selectedCategories, 'category', 'dropDownSelectCategoryContainer')"
                            hidden
                          />
                          <label
                            for="<%= subcat %>"
                            class="w-100 p-2"
                            style="cursor: pointer"
                            ><%= subcat %></label
                          >
                        </div>
                        <% }) %> <% } %> <% }) %>
                      </div>
                      <div
                        class="inputField w-100 d-flex p-2"
                        style="cursor: pointer"
                      >
                        <a href="/admin/categories"> + Add more category</a>
                      </div>
                    </div>
                  </div>
                  <div class="valueField">
                    <label for="category"></label>
                    <textarea
                      name="categories"
                      placeholder="Display selected category(s)"
                      id="category"
                      rows="3"
                      required
                    ></textarea>
                  </div>
                </div>

                <label for="publisher">Publisher:</label>
                <input type="text" id="publisher" name="publisher" required/>

                <label for="published">Published:</label>
                <input type="date" id="published" name="published" />

                <label for="description">Book description</label>
                <textarea
                  id="description"
                  name="description"
                  rows="4"
                ></textarea>

                <div class="button-container">
                  <button type="reset" id="reset">Reset</button>
                  <button type="submit" id="submit">Submit</button>
                  <button
                    type="button"
                    id="cancel"
                    onclick="closePopup('addBookPopup')"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <input
          type="button"
          value="Delete All"
          onclick="openPopup('deleteAllPopup')"
        />
        <div class="popup-container" id="deleteAllPopup">
          <div class="popup">
            <div>
              <h1>Do you want to delete all books?</h1>
            </div>
            <div class="fluid-container">
              <form
                action="/admin/books-management/delete-all-books"
                method="post"
              >
                <button type="submit" class="btn btn-success">Confirm</button>
                <button
                  type="button"
                  class="btn btn-danger"
                  onclick="closePopup('deleteAllPopup')"
                >
                  Cancel
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="customerTables">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col">Publisher</th>
            <th scope="col">Published</th>
            <th scope="col">Description</th>
            <th scope="col">Cover image</th>
            <th scope="col">Book content</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <% counter = 1 %> <% books.forEach((book) =>{ %>
          <tr>
            <th scope="row"><%= counter %></th>
            <td><%= book.title %></td>
            <td><%= book.authors %></td>
            <td><%= book.category %></td>
            <td><%= book.publisher %></td>
            <td><%= book.published %></td>
            <td></td>
            <td><%= book.description %></td>
            <td>
              <div class="imgBooks">
                <img
                  src="/images/<%= book.imageCover %>"
                  style="width: 100px; height: 100px; object-fit: cover"
                />
              </div>
            </td>
            <td>
              <button
                class="edit-btn"
                onclick="openPopup('editPopup<%= counter %>')"
              >
                Edit
              </button>
              <div class="popup-container" id="editPopup<%= counter %>">
                <div class="popup">
                  <div>
                    <h1>Edit Book</h1>
                  </div>
                  <form
                    action="/admin/books-management/update-book/<%= book._id %>"
                    method="post"
                    class="d-flex w-100"
                    enctype="multipart/form-data"
                  >
                    <div class="image-container">
                      <div class="imageCoverContainer d-flex flex-column">
                        <label for="editBookImageCover">Edit image Cover</label>
                        <input
                          type="file"
                          id="editBookImageCover"
                          name="imageCover"
                          onchange="previewImage('editBookImageCover', 'edit-image-cover-preview')"
                        />
                        <div id="edit-image-cover-preview" class="py-1"></div>
                      </div>
                    </div>
                    <div class="right-container">
                      <label for="newTitle">Book Title</label>
                      <input
                        type="text"
                        id="newTitle"
                        name="title"
                        value="<%= book.title %>"
                      />

                      <!--Edit Authors -->
                      <div class="addAuthors position-relative">
                        <div class="searchField">
                          <label
                            class="position-relative w-100"
                            for="searchAuthor"
                            >Authors</label
                          >
                          <input
                            type="text"
                            id="searchEditAuthor<%= counter %>"
                            placeholder="Search for existing author"
                            oninput="searchItems('searchEditAuthor<%= counter %>', 'authorsEditList<%= counter %>', 'dropDownEditSelectAuthorContainer<%= counter %>')"
                            onclick="toggleDropDown('dropDownEditSelectAuthorContainer<%= counter %>')"
                          />
                          <div
                            class="dropDownSelectAuthorContainer position-absolute bg-light w-100"
                            style="display: none; z-index: 500"
                            id="dropDownEditSelectAuthorContainer<%= counter %>"
                          >
                            <div
                              class="authorList w-100"
                              id="authorsEditList<%= counter %>"
                            >
                              <% authors.forEach(author => { %>
                              <div
                                class="inputField w-100 d-flex"
                                style="cursor: pointer"
                              >
                                <input
                                  type="checkbox"
                                  id="edit<%= author.name %><%= counter %>"
                                  value="<%= author.name %>"
                                  onchange="updateSelectedItems(this, selectedAuthors, 'editAuthors<%= counter %>', 'dropDownEditSelectAuthorContainer<%= counter %>')"
                                  hidden
                                />
                                <label
                                  for="edit<%= author.name %><%= counter %>"
                                  class="w-100 p-2"
                                  style="cursor: pointer"
                                  ><%= author.name %></label
                                >
                              </div>
                              <% }) %>
                            </div>
                            <div
                              class="inputField w-100 d-flex p-2"
                              style="cursor: pointer"
                            >
                              <a href="/admin/authors"> + Add more author</a>
                            </div>
                          </div>
                        </div>
                        <div class="valueField">
                          <label for="editAuthors<%= counter %>"></label>
                          <!-- Change input to textarea -->
                          <textarea
                            name="authors"
                            id="editAuthors<%= counter %>"
                            rows="3"
                          ><%= book.authors %></textarea
                          >
                        </div>
                      </div>

                      <!-- Categories -->
                      <div class="addCategory position-relative">
                        <div class="searchField">
                          <label
                            class="position-relative w-100"
                            for="searchCategory"
                            >Category</label
                          >
                          <input
                            type="text"
                            id="searchEditCategory<%= counter %>"
                            placeholder="Search for existing category"
                            oninput="searchItems('searchEditCategory<%= counter %>', 'categoryEditList<%= counter %>', 'dropDownEditSelectCategoryContainer<%= counter %>')"
                            onclick="toggleDropDown('dropDownEditSelectCategoryContainer<%= counter %>')"
                          />
                          <div
                            class="dropDownSelectCategoryContainer position-absolute bg-light w-100"
                            style="display: none; z-index: 500"
                            id="dropDownEditSelectCategoryContainer<%= counter %>"
                          >
                            <div
                              class="categoryList w-100"
                              id="categoryEditList<%= counter %>"
                            >
                              <% categories.forEach(category => { %>
                              <!-- Display Category -->
                              <div
                                class="inputField w-100 d-flex"
                                style="cursor: pointer"
                              >
                                <input
                                  type="checkbox"
                                  id="edit<%= category.category %><%= counter %>"
                                  value="<%= category.category %>"
                                  onchange="updateSelectedItems(this, selectedCategories, 'editCategory<%= counter %>', 'dropDownEditSelectCategoryContainer<%= counter %>')"
                                  hidden
                                />
                                <label
                                  for="edit<%= category.category %><%= counter %>"
                                  class="w-100 p-2"
                                  style="cursor: pointer"
                                >
                                  <strong> <%= category.category %> </strong>
                                </label>
                              </div>

                              <!-- Display Subcategories -->
                              <% if (category.subCategory &&
                              category.subCategory.length > 0) { %> <%
                              category.subCategory.forEach(subcat => { %>
                              <div
                                class="inputField w-100 d-flex"
                                style="cursor: pointer"
                              >
                                <input
                                  type="checkbox"
                                  id="edit<%= subcat %><%= counter %>"
                                  value="<%= subcat %>"
                                  onchange="updateSelectedItems(this, selectedCategories, 'editCategory<%= counter %>', 'dropDownEditSelectCategoryContainer<%= counter %>')"
                                  hidden
                                />
                                <label
                                  for="edit<%= subcat %><%= counter %>"
                                  class="w-100 p-2"
                                  style="cursor: pointer"
                                  ><%= subcat %></label
                                >
                              </div>
                              <% }) %> <% } %> <% }) %>
                            </div>
                            <div
                              class="inputField w-100 d-flex p-2"
                              style="cursor: pointer"
                            >
                              <a href="/admin/categories"> + Add more category</a>
                            </div>
                          </div>
                        </div>
                        <div class="valueField">
                          <label for="editCategory<%= counter %>"></label>
                          <textarea
                            name="categories"
                            id="editCategory<%= counter %>"
                            rows="3"
                          ><%= book.category %></textarea>
                        </div>
                      </div>

                      <label for="editPublisher">Publisher:</label>
                      <input type="text" id="editPublisher" name="publisher" />

                      <label for="published">Published:</label>
                      <input
                        type="text"
                        id="editPublished"
                        name="published"
                        value="<%= book.published %>"
                      />

                      <label for="description">Description:</label>
                      <textarea
                        id="editDescription"
                        name="description"
                        rows="4"
                      >
 <%= book.description %></textarea
                      >

                      <div class="button-container">
                        <button type="reset">Reset</button>
                        <button type="submit">Submit</button>
                        <button
                          type="button"
                          onclick="closePopup('editPopup<%= counter %>')"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <button
                class="delete-btn"
                onclick="openPopup('deletePopup<%= counter %>' )"
              >
                Delete
              </button>
              <div class="popup-container" id="deletePopup<%= counter %>">
                <div class="popup">
                  <div>
                    <h1>Do you want to delete this <%= book.title %> books?</h1>
                  </div>
                  <div class="fluid-container">
                    <form
                      action="/admin/books-management/delete/<%= book._id %>"
                      method="post"
                    >
                      <button type="submit" class="btn btn-success">
                        Confirm
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        onclick="closePopup('deletePopup<%= counter %>')"
                      >
                        Cancel
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% counter++ %> <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</main>
