

<main class="d-flex flex-nowrap">
    <div class="mainContent">
    <div class="CatergoryName">
        <h1>Category Management</h1>
        <% if (messages.fail) { %>
            <div id="rejectedMessage" class="alert alert-danger" role="alert">
              <%- messages.fail %>
            </div>
            <% } %> <% if (messages.success) { %>
            <div id="acceptedMessage" class="alert alert-success" role="alert">
              <%- messages.success %>
            </div>
        <% } %>
    </div>
    <div class="search-form">
        <form action="/admin/categories/search" method="post" class="d-flex ">
            <input type="text" name="search" placeholder="Search for category" class="w-75"/>
            <button type="submit" class="w-25 m-0 px-2">Search</button>
        </form>
        <div class="btns">
            <input type="button" value="Add category" onclick="openPopup('addPopup')" />
            <div class="popup-container" id="addPopup">
                <div class="popup">
                    <div>
                        <h1>Add New Category</h1>
                    </div>
                    <form action="/admin/categories/add-new-category" method="post"  class="d-flex w-100" enctype="multipart/form-data">
                        <div class="image-container ">
                            <div class="imageCoverContainer d-flex flex-column">
                                <label for="image">Add image Cover</label>
                                <input type="file" id="image" name="image" onchange="previewImage('image', 'add-image-preview')" required>
                                <div id="add-image-preview" class="py-1"></div>
                            </div>
                        </div>
                        <div class="right-container w-100">
                            <label for="category">Main Category</label>
                            <input type="text" id="category" name="category" required/>

                            <label for="subCategory">Subcategories</label>
                            <textarea id="subCategory" name="subCategory" rows="4"></textarea>
                            
                            <div class="button-container">
                            <button type="reset">Reset</button>
                            <button type="submit">Submit</button>
                            <button type="button" onclick="closePopup('addPopup')">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <input type="button" value="Delete All" onclick="openPopup('deleteAllPopup')"/>
            <div class="popup-container" id="deleteAllPopup">
                <div class="popup">
                    <div>
                        <h1>Do you want to delete all categories? </h1>
                    </div>
                    <div class="fluid-container">
                        <form action="/admin/categories/delete-all-categories" method="post">
                            <button type="submit" class="btn btn-success"> Confirm</button>
                            <button type="button" class="btn btn-danger" onclick="closePopup('deleteAllPopup')"> Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="customerTables">
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Main Category</th>
            <th scope="col">Subcategories</th>
            <th scope="col">Category Cover Image</th>
            <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <% counter = 1 %>
            <% categories.forEach((category) =>{ %>
            <tr>
                <th scope="row"><%= counter %></th>
                <td><%= category.category %></td>
                <td><%= category.subCategory %></td>
                <td>
                    <% if(category.image){ %>
                    <div class="imgBooks">
                        <img src="/images/<%= category.image %>" style="width: 100px; height: 100px; object-fit: cover;"/>
                    </div>
                    <% }else{ %>
                        Null    
                    <%} %>
                </td>
                <td>
                    <button class="edit-btn" onclick="openPopup('editPopup<%= counter %>')">Edit</button>
                    <div class="popup-container" id="editPopup<%= counter %>">
                        <div class="popup">
                            <div>
                                <h1>Edit Category</h1>
                            </div>
                            <form action="/admin/categories/update-category/<%= category._id %>" method="post" class="d-flex w-100" enctype="multipart/form-data">
                                <div class="image-container ">
                                    <div class="imageCoverContainer d-flex flex-column">
                                        <label for="editImage">Add image Cover</label>
                                        <input type="file" id="editImage" name="editImage" onchange="previewImage('editImage', 'edit-image-preview')" >
                                        <div id="edit-image-preview" class="py-1"></div>
                                    </div>
                                </div>
                                <div class="right-container w-100">
                                    <label for="editcategory">Main Category</label>
                                    <input type="text" id="editcategory" name="category" value="<%= category.category %>" required/>
        
                                    <label for="editsubCategory">Subcategories</label>
                                    <textarea id="editsubCategory" name="subCategory" rows="4"><%= category.subCategory %></textarea>
                                    
        
                                    <div class="button-container">
                                    <button type="reset">Reset</button>
                                    <button type="submit">Submit</button>
                                    <button type="button" onclick="closePopup('editPopup<%= counter %>')">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button class="delete-btn" onclick="openPopup('deletePopup<%= counter %>')">Delete</button>
                    <div class="popup-container" id="deletePopup<%= counter %>">
                        <div class="popup">
                            <div>
                                <h1>Do you want to delete this <%= category.name %> books? </h1>
                            </div>
                            <div class="fluid-container">
                                <form action="/admin/categories/delete/<%= category._id %>" method="post">
                                    <button type="submit" class="btn btn-success"> Confirm</button>
                                    <button type="button" class="btn btn-danger" onclick="closePopup('deletePopup<%= counter %>')"> Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <% counter++ %>
            <% }) %>
        </tbody>
        </table>
    </div>
    </div>
</main>
