
    
      
      <main class="main">
        <form action="/admin/wishlist/reset" method="post" id="wishlistResetForm" style="display: inline;">
          <button class="btn btn-primary">Reset Wishlist</button>
        </form>
     <!-- Iterate over the wishlist items and display them in the table -->
     <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Image</th>
          <th scope="col">Approval Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% wishlistItems.forEach(item => { %>
          <tr>
            <td><%= item.authorWishlist %></td>
            <td><%= item.titleWishlist %></td>
            <td><%= item.dateWishlist.toISOString().split('T')[0] %></td>
            <td><img src="<%= item.imageWishlist %>" alt="Book Image" style="max-width: 50px;"></td>
            <td>
              <% if (item.approveWishlist) { %>
                <span class="badge badge-success">Approved</span>
              <% } else { %>
                <span class="badge badge-warning">Pending Approval</span>
              <% } %>
            </td>
            <td>
              <form action="/admin/wishlist/approve/<%= item._id %>" method="post" style="display: inline;">
                <button class="btn btn-info">Approve</button>
              </form>
              <form action="/admin/wishlist/delete/<%= item._id %>" method="post">
                <button class="btn btn-danger" onclick="deleteItem('<%= item._id %>')">Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    function submitFormAndShowMessage() {
      // Submit the form using fetch API
      fetch('/admin/wishlist/reset', { method: 'POST' })
        .then(response => response.json())
        .then(data => {
          // Display a pop-up message
          alert('Wishlist reset successfully!');
  
          // Redirect back to the wishlist admin page after reset
          window.location.href = '/admin/wishlistAdmin';
        })
        .catch(error => {
          console.error('Error resetting wishlist:', error);
          alert('Error resetting wishlist. Please try again.');
        });
    }
  </script>
  </body>
  </html>