<h1>Book Details</h1>

<% if (books) { %>
 
    <div class="container">
        <div class="container1">
            <div class="title">
                <img src="picture/THESAINTSOFSWALLOWHILL.jpg" style="max-width: 100%; height: auto;"
                alt="The Saint of Swallowhill">
                <div class="details">
                    <% if (books.title) { %>
                        <h2> <%= books.title %></h2>
                    <% } %>
                    <p>
                        <%- books.authors.map(author => `<a href="">${author}</a>`).join(', ') %>
                    </p>
                    
                    <p>Publisher: <%= books.publisher %></p>
                    <p>Publication Date:  <%= books.published %></p>
                    <p>Rating:
                        <% for (let i = 1; i <= 5; i++) { %>
                          <% if (i <= books.rating) { %>
                            <span class="star">&#9733;</span>
                          <% } else { %>
                            <span class="star">&#9734;</span>
                          <% } %>
                        <% } %>
                      </p>
                </div>
            </div>
            <div class="description">
                <nav>
                    <ul>
                        <li><a class="active" href="#book-intro">Book Introduction</a></li>
                        <li><a href="#author-intro">Author Introduction</a></li>
                        <li><a href="#review">Review</a></li>
                    </ul>
                </nav>
                
                <div class="description1">
                    <div id="book-intro" class="content active">
                        <h2>Book Introduction</h2>
                        <p><%= books.description %></p>
                    </div>
                    
                    <div id="author-intro" class="content">
                        <h2>Author Introduction</h2>
                        <p>Donna Everhart is the USA Today bestselling author of vivid, authentic Southern fiction,
                            including the Southeastern Library Association Award-winning The Road to Bittersweet, the
                            Indie Next Pick, Amazon Spotlight/Debut Pick, The Education of Dixie Dupree, The Forgiving
                            Kind, and The Moonshiner’s Daughter. Her fifth novel, The Saints of Swallow Hill is out now.
                            <pre></pre>
                            Born and raised in Raleigh, North Carolina, she now lives with her husband just an hour away in
                            the Sandhills area of the state. Please visit her online at DonnaEverhart.com.</p>
                        </div>
                        
                        <div id="review" class="content">
                            <h2>Review</h2>
                            
                            <% books.reviews.forEach(review => { %>
                                <p>
                                    <%= review.review %>
                                </p>    
                                <p>
                                    <%= review.getFormattedDateTime() %>
                                </p>    
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>