<div id="wrapper">    
    <div class="resultContainer">
        <div class="bookContainer">
            <h2>Reading History</h2>
            <% if (user.readingHistory && Array.isArray(user.readingHistory) && user.readingHistory.length > 0) { %>
                <% user.readingHistory.forEach((book) => { %>
                    <ul class="bookmark-list">
                        <li class="book">
                            <div class="book-imagebox">
                                <img class="book-image" src="/images/<%= book.imageCover %>">
                            </div>
                            <div class="book-info">
                                <div class="book-title">
                                    <h3><%= book.title %></h3>
                                </div>
                                <div class="bookdetail">
                                    <p><strong>Author:</strong><%= book.authors.join(', ') %></p>
                                    <p><strong>Category:</strong><%= book.category.join(', ') %></p>
                                    <p><strong>Publisher:</strong><%= book.publisher %></p>
                                </div>
                                <div class="bookmarkBtn">
                                    <button class="readingBtn" type="button">
                                        <a href="/book/<%= book.slug %>/read"> Continue reading</a>
                                    </button>
                                    <form method="post" action="/reading-history/delete-history/<%= book.slug %>">
                                        <button class="deleteButton">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                <% }); %>
            <% } else { %>
                <div class="noInformation">
                    <p>No reading history yet!</p>
                </div>
            <% } %>
        </div>
    </div>
