<div class="bookContainers">
  <div class="category">
    <h2>Recently Added</h2>
    <section class="splide" id="splide1" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <% newestBooks.forEach(book => {%>
          <li class="splide__slide">
            <a href="/book/<%= book.slug %>">
              <img
                class="bookImage"
                src="/images/<%= book.imageCover %>"
                alt="bookImage"
              />
              <div class="bookInformation">
                <div class="bookTitle">
                  <h2><%= book.title %></h2>
                </div>
                <div class="bookAuthor">
                  <p><%= book.authors.join(', ') %></p>
                </div>
              </div>
            </a>
            <form action="/bookmarks/add/<%= book.slug %>" method="post">
              <button type="submit" class="bookmark-btn">
                <div class="btnIcon">
                  <% if(book.bookmarked){ %>
                  <ion-icon
                    class="bookmarkIcon"
                    name="star"
                    style="color: gold"
                  ></ion-icon>
                  <% } else { %>
                  <ion-icon
                    class="bookmarkIcon"
                    name="star"
                    style="color: black"
                  ></ion-icon>
                  <% } %>
                </div>
              </button>
            </form>
          </li>
          <% }) %>
        </ul>
      </div>
    </section>
  </div>
  <div class="category">
    <h2>Most Rating</h2>
    <section class="splide" id="splide2" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <% mostRatingBooks.forEach(book => {%>
          <li class="splide__slide">
            <a href="/book/<%= book.slug %>">
              <img
                class="bookImage"
                src="/images/<%= book.imageCover %>"
                alt="bookImage"
              />
              <div class="bookInformation">
                <div class="bookTitle">
                  <h2><%= book.title %></h2>
                </div>
                <div class="bookAuthor">
                  <p><%= book.authors.join(', ') %></p>
                </div>
              </div>
            </a>
            <form action="/bookmarks/add/<%= book.slug %>" method="post">
              <button type="submit" class="bookmark-btn">
                <div class="btnIcon">
                  <% if(book.bookmarked){ %>
                  <ion-icon
                    class="bookmarkIcon"
                    name="star"
                    style="color: gold"
                  ></ion-icon>
                  <% } else { %>
                  <ion-icon
                    class="bookmarkIcon"
                    name="star"
                    style="color: black"
                  ></ion-icon>
                  <% } %>
                </div>
              </button>
            </form>
          </li>
          <% }) %>
        </ul>
      </div>
    </section>
  </div>
  <div class="category">
    <h2>Most Read</h2>
    <section class="splide" id="splide3" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <% mostReadBooks.forEach(book => {%>
          <li class="splide__slide">
            <a href="/book/<%= book.slug %>">
              <img
                class="bookImage"
                src="/images/<%= book.imageCover %>"
                alt="bookImage"
              />
              <div class="bookInformation">
                <div class="bookTitle">
                  <h2><%= book.title %></h2>
                </div>
                <div class="bookAuthor">
                  <p><%= book.authors.join(', ') %></p>
                </div>
              </div>
            </a>
            <form action="/bookmarks/add/<%= book.slug %>" method="post">
              <button type="submit" class="bookmark-btn">
                <div class="btnIcon">
                  <% if(book.bookmarked){ %>
                  <ion-icon
                    class="bookmarkIcon"
                    name="star"
                    style="color: gold"
                  ></ion-icon>
                  <% } else { %>
                  <ion-icon
                    class="bookmarkIcon"
                    name="star"
                    style="color: black"
                  ></ion-icon>
                  <% } %>
                </div>
              </button>
            </form>
          </li>
          <% }) %>
        </ul>
      </div>
    </section>
  </div>

</div>
